Repository shaharmor/webrtc-private-ip: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run reformat:glob, npm run lint:eslint:glob

add dist/ to .gitignore
  .gitignore
Due: none

add package-lock.json
  package-lock.json
Due: npm run reformat:glob

0.0.1
  package-lock.json
  package.json
Due: npm run reformat:glob

export named function instead of default
  README.md
  package-lock.json
  package.json
  src/webrtc-private-ip.ts
  tsconfig.json
Due: npm run reformat:glob, npm run lint:eslint:glob

0.0.2
  package-lock.json
  package.json
Due: npm run reformat:glob

chore(lint): start using commitlint
  .commitlintrc.json
  .huskyrc.json
  package-lock.json
  package.json
Due: npm run reformat:glob

chore(typescript): add `baseUrl` & `paths` configuration
  tsconfig.json
Due: npm run reformat:glob

chore(karma): run Chrome without WebRTC mDNS feature
  karma.conf.js
Due: npm run reformat:glob

test: add simple test
  src/webrtc-private-ip.test.ts
Due: npm run reformat:glob, npm run lint:eslint:glob

0.0.3
  package-lock.json
  package.json
Due: npm run reformat:glob

chore(package): update package.json project fields
  package-lock.json
  package.json
Due: npm run reformat:glob

chore(package): sort package.json using sort-package-json package
  .lintstagedrc.json
  package-lock.json
  package.json
Due: npm run reformat:glob

0.0.4
  package-lock.json
  package.json
Due: npm run reformat:glob

chore(package): build with webpack
  README.md
  package-lock.json
  package.json
  tsconfig.json
  webpack.config.ts
Due: npm run reformat:glob, npm run lint:eslint:glob

0.1.0
  package-lock.json
  package.json
Due: npm run reformat:glob

Path conditions:
  npm run reformat:glob: (any of: *.ts) or (any of: *.{js,json})
  npm run lint:eslint:glob: any of: *.ts
